{
    "semi": false,
    "singleQuote": true,
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 100,
    "bracketSameLine": true,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "printWidth": 120
            }
        },
        {
            "files": "1025.ts",
            "options": {
                "printWidth": 120
            }
        }
    ]
}
