:root {
    --primary: #e5eafd;
    --secondary: #c9d7ea;
    --bg: #151414;
    --accent: #ffb25f;
    --hover: #ff5f1a;

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: var(--primary);
    background-color: var(--bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: var(--accent);
    text-decoration: inherit;
}

a:hover {
    color: var(--hover);
}

body {
    margin: 0;
    position: relative;
    overflow: auto;
    min-height: 100vh;
}

html {
    box-sizing: border-box;
    position: relative;
}

canvas {
    display: block;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

button {
    border-radius: 0.5rem;
    border: 2px solid var(--accent);
    margin: 1rem;
    padding: 0 0.7rem;
    /* line-height: 1.8rem; */
    font-size: 1rem;
    font-weight: 600;
    font-family: inherit;
    background-color: rgba(255, 255, 255, 0.8);
    color: #171717;
    cursor: pointer;
    transition: border-color 0.25s;
}

button.btn-absolute {
    position: absolute;
    bottom: 0;
    left: 0;
}

button:hover,
button:focus {
    border-color: var(--hover);
    /* background-color: rgba(255, 255, 255, 1); */
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

#canvas-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.info {
    padding: 1.5rem 2rem;
    max-width: 600px;
}

.absolute-container {
    position: absolute;
    padding: 1rem;
    bottom: 0;
    left: 0;
    z-index: 1;
    font-weight: 500;
    color: #000;
}

.absolute-container.top {
    bottom: auto;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    padding: 0.3rem 1rem;
}

.absolute-container.dark {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
}

.absolute-container .info {
    padding: 0;
}

.index-main {
    padding: 5% 10%;
}

.tp-lblv .tp-lblv_l {
    padding-right: 11px;
}
